<template>
  <div>
    <a-form :model="form">
      <a-form-item>
        <a-input v-model:value="form.email"> </a-input>
      </a-form-item>
    </a-form>
    <a-button type="primary">Login</a-button>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue'

export default defineComponent({
  setup() {
    const form = reactive({
      email: '',
    })

    return { form }
  },
})
</script>
